body{
    margin: 25px;
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: arial;
}

table{
 *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    border-radius: 8px 8px 8px 8px;
}

table, th, td {
    border: thin solid darkgrey;
}

th, td {
    padding: 5px;
}
th:first-child {
    border-radius: 8px 0 0 0;
}

th:last-child {
    border-radius: 0 8px 0 0;
}

th:only-child{
    border-radius: 8px 8px 0 0;
}
table tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
}
table tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
}

#pCountries{
    width:500px;
}

.rowSelect{
    background-color: lightgreen;
}
.rowNoSelect{
    background-color: white;
}
.zrowSelect{
    background-color: lightblue;
}
.zrowNoSelect{
    background-color: white;
}

input{
    width: 250px;
    color: blue;
    font-size: 14px;
}